@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');
@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: rgba(241, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 45%;
  max-width: 500px;
  margin: 20px;
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
  width: 100vw;
  position: relative;
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.image {
  border-radius: 10px;
  margin-bottom: 16px;
  width: 100%;
  height: auto;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #cff1ff;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.skill {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  background: #6c757d; /* Bootstrap dark color */
  padding: 5px 15px;
  border-radius: 20px;
  transition: background 0.3s;
}

.skill:hover {
  background: #5a6268; /* Bootstrap dark hover color */
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.link {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background: #007bff; /* Bootstrap primary color */
  padding: 10px 20px;
  border-radius: 20px;
  transition: background 0.3s, transform 0.3s;
}

.link:hover {
  background: #0056b3; /* Bootstrap primary hover color */
  transform: translateY(-2px);
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  background: linear-gradient(80deg, #ff0000, #ff1111, #ff143b, #ff1111); /* Gradient of pink/red colors */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  animation: pop 0.8s ease-in-out forwards;
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 10px 0;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
  }
}
