.container {
  background-color: #4b0082;
  padding: 40px;
  margin-top: 80px;
  border-radius: 10px;
  color: #ffffff;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.text p {
  font-size: 1.2rem;
  font-weight: 400;
}

.links {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.links a {
  font-size: 1rem;
  text-decoration: none;
  color: #e5e5e5;
}

.formContainer {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.formGroup textarea {
  resize: vertical;
}

.submitBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    padding: 0;
  }
}
